body{
margin:0;
font-family:Arial;
background:#9cc6d9;
display:flex;
flex-direction:column;
align-items:center;
}

.nav{
position:absolute;
left:20px;
top:20px;
}

.nav a{
background:white;
padding:10px 15px;
margin-right:5px;
border-radius:8px;
text-decoration:none;
color:black;
font-weight:bold;
}

.perfil{
width:120px;
height:120px;
border-radius:50%;
margin-top:30px;
object-fit:cover;
border:4px solid white;
}

.card{
background:white;
width:90%;
max-width:600px;
padding:25px;
margin-top:20px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.service{
padding:15px 0;
border-bottom:1px solid #ccc;
}

.service-header{
display:flex;
justify-content:space-between;
align-items:center;
gap:10px;
}

.price{
color:#0077aa;
font-weight:bold;
margin-left:15px;
}

button{
margin-top:10px;
background:#1fa3e0;
color:white;
border:none;
padding:8px 15px;
border-radius:8px;
cursor:pointer;
}

.producto{
position:relative;
}

.carrusel{
width:100%;
max-height:350px;
display:flex;
justify-content:center;
align-items:center;
}

.slide{
width:100%;
height:auto;
max-height:300px;
object-fit:contain;
display:none;
}

.slide.active{
display:block;
}

.info{
margin-top:15px;
}

.precio{
position:absolute;
right:0;
bottom:0;
font-size:22px;
color:#0077aa;
font-weight:bold;
}
/*cosas nuevas*/
.presentacion{
text-align:center;
max-width:500px;
margin-top:10px;
color:#1a1a1a;
}

.presentacion h2{
margin-bottom:5px;
}

.presentacion p{
font-size:14px;
color:#333;
}

.more-info{
display:none;
margin-top:10px;
color:#444;
font-size:14px;
}
.service{
padding:15px 0;
border-bottom:1px solid #ccc;
transition:0.3s;
}

.service:hover{
background:#f5f5f5;
transform:scale(1.02);
}

button:hover{
background:#0f8cc9;

}

/*por las dudas*/
@media (max-width:600px){

.service-header{
flex-direction:row;
justify-content:space-between;
}

.price{
margin-left:20px;
}

}


